*{
    margin: 0;
    padding: 0;
    user-select: none;
}

body {
    margin: 0;
    padding: 0;
}

header {
    width: auto;
}

#image-size {
    width: 30px;
    height: 30px;
}

.text-center {
    justify-content: center;
}