/* 
    creat by Wesly J. Hernandez
    date: 07-25-2020
*/

*{
    margin: 0;
    padding: 0;
    user-select: none;
}

body {
    margin: 0;
    padding: 0;
}

header {
    width: auto;
}

.nav-image {
    width: 140px;
}

.main_title {
    margin: 5px;
    text-align: center;
    font-family: 'Pacifico', cursive;
}

.wrapper {
    margin: 18px auto;
    position: absolute;
    top: 3.5%;
    right: -13.5%;
    transform: translate(-50%, -50%);
}
  
.search-box {
    width: 450px;
    height: 100px;
    position: relative;
}
  
.input {
    position: absolute;
    top: 20px;
    right: 50px;
    box-sizing: border-box;
    width: 0px;
    height: 35px;
    padding: 0 20px;
    outline: none;
    font-size: 18px;
    border-radius: 20px;
    color: #29313a;
    border: 3px solid rgb(2, 109, 55);
    transition: all 0.8s ease;
}
  
::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
color: rgb(2, 109, 55);
}
::-moz-placeholder {
    /* Firefox 19+ */
color: rgb(2, 109, 55);
}
:-ms-input-placeholder {
    /* IE 10+ */
color: rgb(2, 109, 55);
}
:-moz-placeholder {
    /* Firefox 18- */
color: rgb(2, 109, 55);
}
  
.btns {
    position: absolute;
    width: 53px;
    height: 53px;
    background: rgb(2, 109, 55);
    border-radius: 50%;
    right: 45px;
    top: 10px;
    cursor: pointer;
    text-align: center;
    line-height: 54px;
    font-size: 20px;
    color: #fff;
    transition: all 0.8s ease;}
  
.input.active {
    width: 350px;
    right: 100px;
}
  
.btns.animate {
    transform: rotate(-360deg);
    right: 100px;
}

.card {
    margin: 10px;
    padding: 20px;
    width: 15rem;
    display: grid;
    height: auto;
    grid-template-columns: 200px;
    grid-template-rows: 200px 200px 80px;
    grid-template-areas: "image" "text" "stats";
    border-radius: 20px;
    background: white;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.9);
    font-family: roboto;
    text-align: center;
}

#card-big {
    margin: 10px auto;
    padding: 60px;
    width: 45rem;
    display: inline-block;
    height: auto;
    grid-template-columns: 200px;
    grid-template-rows: 200px 200px 100px;
    border-radius: 20px;
    background: white;
    box-shadow: 2px 3px 5px rgba(0,0,0,0.9);
    font-family: roboto;
    justify-content: center;
    align-items: center;

}

.card-image {
    width: 100%;
    grid-area: image;
    border-top-left-radius: 11px;
    border-top-right-radius: 11px;
    background-size: cover;
    text-align: center;
}

.card:hover {
    z-index: 100;
    transform: scale(1.15);
    box-shadow: 2px 3px 15px rgba(0,0,0,0.6);
  }
  .card {
    transition: 0.5s ease;
    cursor: pointer;
    margin:auto;
  }

.card-button {
    margin: 5px auto;
    justify-content: center;
    align-items: center;
}
table.cardtable{
	  width: 100%;
	  vertical-align: middle;
	  border-spacing: 5ch;
      border-collapse: separate;
  }

.pagetitle{
    text-align: center;
}



.section-1 {
    margin: 40px 208px;
    padding: 2px;
    text-align: center;
}

.buttom-right {
    margin: 50px 120px;
    padding: 1.2rem 3rem;
    float: right;
    text-align: center;
}


.text-center {
    justify-content: center;
}

#datas {
    margin: 1px auto;
    position: relative;
    justify-content: right;
    text-align: center;
}

#clasificacion {
    margin: 1px auto;
    position: relative;
    justify-content: left;
    text-align: center;
}

#genres {
    margin: 1px auto;
    position: relative;
    justify-content: right;
    text-align: center;
}

.inputActor {
    margin: 20px auto;
    justify-content: center;
    text-align: center;
    width: 50%;
}

.buttom-right {
    margin: 50px 120px;
    padding: 1.2rem 3rem;
    float: right;
    text-align: center;
}

.buttom-right:hover {
    transform: scale(1.12);
}

.buttom-left {
    margin: 50px 220px;
    padding: 4.2rem 3rem;
    float: left;
    text-align: center;
}

.buttom-right:hover {
    transform: scale(1.12);
}

.dropdown:hover>.dropdown-menu {
    display: block;
}

.bg-modal {
	background-color: rgba(0, 0, 0, 0.7);
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	display: none;
	justify-content: center;
	align-items: center;
}

.modal-contents {
	height: 400px;
	width: auto;
	background-color: white;
	text-align: center;
	padding: 40px;
	position: relative;
    border-radius: 4px;
}

input {
	margin: 15px auto;
	display: block;
	width: 50%;
	padding: 8px;
	border: 1px solid gray;
}

.close {
	position: absolute;
	top: 0;
	right: 10px;
	font-size: 42px;
	color: #333;
	transform: rotate(45deg);
	cursor: pointer;
}

.formulario {
	margin: 0 auto;
	margin-bottom: 60px;
	width: 600px;
	padding: 2em;
	border: 1px solid rgb(2, 109, 55);
	border-radius: 1em;
}

.formulario div + div {
	margin-top: 1em;
}

label {
	display: inline-block;
	width: 100px;
	text-align: right;
}

input, textarea {
	font: 1em sans-serif;
	width: 300px;
	-moz-box-sizing: border-box;
	box-sizing: 1px solid #999;
}

input:focus, textarea:focus {
	border-color: #000;
}

textarea {
	vertical-align: top;
	height: 5em;
	resize: vertical;
}

h1, .font-style {
    font-family: 'Courgette', cursive;
}

.boton_personalizado{
	margin: 40px;
	text-decoration: none;
	text-align: center;
    padding: 6px;
    font-weight: 600;
    font-size: 10px;
    color:  #ffffff;
    background-color: rgb(2, 109, 55);
    border-radius: 5px;
    border: 2px solid  rgb(2, 109, 55);
  }
  .boton_personalizado:hover{
    color: rgb(2, 109, 55);
    background-color:  #ffffff;
  }
